.layoutNav{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    padding: 5px;
    border-bottom: 2px solid gray;
    background-color: #cedff8;
}
.linkList{
    display: flex;
}
.navLinc {
    padding: 5px 10px;    
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;    
}
.navLinc:hover {
    color: #0d6efd;   
}
.navLinc:focus {
    border-bottom: 5px solid #0d6efd;
}
.userData{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.button{
    margin-left: 15px;
}